<div class="jumbotron text-center">
    <h1>All Coffees</h1>

    <p ng-show="!signedIn">Please <a href="#coffees" ng-click="signIn()">Sign In</a> </p>

    <div ng-show="signedIn" ng-controller="coffees_view_controller as list">
        <table align="center" valign="middle">
            <tbody ng-repeat="coffee in coffees | orderBy:'-stars'">
            <tr style="height:55px; font-size:20px; margin-left:20px; margin-right:20px; valign="middle"; >
            <td>
                <span style="height:55px; font-size:20px; margin-left:20px; margin-right:20px; valign="middle";><img class="img-circle img_coffee_list img-responsive" src="{{coffee.user_img_url}}"/></span>
            </td>

            <td>
                <span style="height:55px; font-size:20px; margin-left:20px; margin-right:20px; valign="middle";>{{coffee.user_name}}</span>
            </td>

            <td>
                <span style="height:55px; font-size:20px; margin-left:20px; margin-right:20px; valign="middle";>{{coffee.name}}</span>
            </td>
            <td>
                <span style="height:55px; font-size:20px; margin-left:20px; margin-right:20px; valign="middle";>{{coffee.coffee_shop}}</span>
            </td>
            <td>
                <span class="glyphicon glyphicon-euro"></span>
                {{coffee.price}}
            </td>

            </tr>
            </tbody>
        </table>
    </div>
