<div class="jumbotron text-center">




    <div ng-controller="edit_coffee_view_controller">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">

                <form ng-submit="editCoffee()"
                      style="margin-top:30px;">
                    <h3>Edit Coffee</h3>
                    <div class="form-group" align="center">
                        <span ng-click="toggleFavourite()" class={{edit_coffee_form.favourite}}></span>
                    </div>
                    <div class="form-group" align="center">
                        <input type="text"
                               class="form-control"
                               placeholder={{edit_coffee_form.name}}
                               ng-model="edit_coffee_form.name"
                               ng-style="{'width': 100 + 'px'}" />
                    </div>

                    <div class="form-group" align="center">
                        <input type="text"
                               class="form-control"
                               placeholder={{edit_coffee_form.coffee_shop}}
                               ng-model="edit_coffee_form.coffee_shop"
                               ng-style="{'width': 100 + 'px'}" />
                    </div>

                    <div class="form-group" align="center">
                        <input type="number"
                               min="1" step="any"
                               class="form-control"
                               placeholder={{edit_coffee_form.price}}
                               ng-model="edit_coffee_form.price"
                               ng-style="{'width': 100 + 'px'}" />
                    </div>

                    <div class="form-group" align="center">
                        <input type="number"

                               class="form-control"
                               placeholder={{edit_coffee_form.stars}}
                               ng-model="edit_coffee_form.stars"
                               ng-style="{'width': 100 + 'px'}" />
                    </div>


                    <button type="submit" class="btn btn-primary">Save Coffee</button>
                </form>

            </div>
        </div>
    </div>