<div class="jumbotron text-center">




    <div ng-controller="edit_coffee_view_controller">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">

                <form ng-submit="editCoffee()"
                      style="margin-top:30px;">
                    <h3>Edit Coffee</h3>
                    <div class="form-group" align="center">
                        <span  ng-click="toggleFavourite()" class="{{edit_coffee_form.favourite}} big-star"></span>
                    </div>
                    <div class="form-group" align="center">
                        <input type="text"
                               required
                               class="form-control"
                               placeholder={{edit_coffee_form.name}}
                               ng-model="edit_coffee_form.name"
                               ng-style="{'width': 100 + 'px'}" />
                    </div>

                    <div class="form-group" align="center">
                        <input type="text"
                               required
                               class="form-control"
                               placeholder={{edit_coffee_form.coffee_shop}}
                               ng-model="edit_coffee_form.coffee_shop"
                               ng-style="{'width': 100 + 'px'}" />
                    </div>

                    <div class="form-group" align="center">
                        <input type="number"

                               min="1" step="any"
                               class="form-control"
                               placeholder={{edit_coffee_form.price}}
                               ng-model="edit_coffee_form.price"
                               ng-style="{'width': 100 + 'px'}" />
                    </div>

                    <div class="form-group" align="center">
                        <span  ng-click="setStars(1)" class="{{star1_style}} "></span>
                        <span   ng-click="setStars(2)" class="{{star2_style}} "></span>
                        <span   ng-click="setStars(3)" class="{{star3_style}} "></span>
                        <span  ng-click="setStars(4)" class="{{star4_style}} "></span>
                        <span   ng-click="setStars(5)" class="{{star5_style}} "></span>
                    </div>


                    <button type="submit" class="btn btn-primary">Save Coffee</button>
                </form>

            </div>
        </div>
    </div>