<div class="jumbotron ">

    <h1>{{ message }}</h1>
    <p>
      Welcome to Coffee Mate. The web application for coffee lovers. View the coffees added by other coffee lovers.
        Log in with your Google account to add your own coffees and favourites.

    </p>

</div>