<div class="jumbotron text-center ">

    <h1>{{ message }}</h1>
    <p>
      Welcome to Coffee Mate. The web application for coffee lovers. Browse a list of coffees added by fellow coffee lovers, see how they rated them and view their location on a map.
        Sign in with your Google account to add and rate the coffees you have tasted.
        You can also add any coffee to your list of favourites. Mmmmmm Coffee...........


    </p>

</div>