<div class="jumbotron text-center ">

    <h1>{{ message }}</h1>
    <p>
      Welcome to Coffee Mate. The web application for coffee lovers. View the coffees others on a map.
        Log in with your Google account to add and manage your own coffees and favourites.

    </p>

</div>